* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
    width: 50%;
    height: 40px;
    padding: 1rem;
    border: 1px solid #f1c40f;
    border-radius: 5px;
}


ul {
    list-style: none;
}